---
import BaseLayout from "../layouts/BaseLayout.astro";
import Navbar from "../components/blocks/Global/Navbar.astro";
import HeroSection from "../components/blocks/Home/HeroSection.astro";
import MissionSection from "../components/blocks/DKL/MissionSection.astro";
import CharitySpotlight from "../components/blocks/DKL/CharitySpotlight.astro";
import PartnerCarousel from "../components/blocks/Sponsors/PartnerCarousel.astro";
import SponsorSection from "../components/blocks/Sponsors/SponsorSection.astro";
import MediaMosaic from "../components/blocks/Media/MediaMosaic.astro";
import SocialGridWrapper from "../components/blocks/Social/SocialGridWrapper";
import Footer from "../components/blocks/Global/Footer.astro";
---

<BaseLayout title="De Koninklijke Loop 2026 | Inclusief Wandelevenement">
	<Navbar />
	<main>
		<HeroSection />
		<MissionSection />
		<PartnerCarousel />
		<SponsorSection />
		<CharitySpotlight />
		<MediaMosaic />
		<SocialGridWrapper client:only="react" />
	</main>
	<Footer />
</BaseLayout>
